{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
        <button type="button" onclick="goBack()" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button> 
        <h1>{{ .Title }}</h1>
         <img src="{{.Params.image | absURL}}" alt="" class="img-responsive">
         
         <button type="button" class="btn btn-default">{{.Params.dimensions.height}} x {{.Params.dimensions.width}} cm</button>
         <button type="button" class="btn btn-default">{{.Params.year}}</button>
             
         {{ if .Params.sold }}
         <button type="button" class="btn btn-default">Sold</button>
         
         {{ else if and (isset .Params "price") .Params.price }}
         <button type="button" class="btn btn-default">{{.Params.price}}</button>
         
         {{end}}
         
         {{ range .Params.technics }}
         <button type="button" class="btn btn-default"></button>
        {{ end }} 
          <!--more-->
         {{ .Content }}
               
      </div>
    </div>
  </div>
</div>
{{ end }}
